<!DOCTYPE html>
<html>
<head>
	<title>Prueba</title>

	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<link rel="stylesheet" href="/static/css/style.css">
	<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js'></script>
	<script type='text/javascript' src='/static/js/jquery.autosize-min.js'></script>
	<script>
	$(document).ready(function(){
    	$('textarea').autosize();  
});
</script>
</head>
<div>

{% if synology %}
<form action="/enviar" method='POST'>
<textarea  name="links" id="links" cols="100" rows='30'>{%for result in resultado %}
{{result}}
{% endfor %}</textarea><br />

<select name='synology'>
	{% for syn in synology %}
	<option value="{{syn.id}}">{{syn.usuario}} -- {{syn.ip_diskstation}}:{{syn.port}}</option>
	{% endfor %}
</select>
<input type="submit" value=" Enviar a Synology "> </input>
</form>
{% endif %}
</div>

</body>
</html>