<!DOCTYPE html>
<html>
<head>
	<title>Prueba</title>

	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<link rel="stylesheet" href="/static/css/style.css">
	<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js'></script>
	<script type='text/javascript' src='/static/js/jquery.autosize-min.js'></script>
	<script>
	$(document).ready(function(){
    	$('textarea').autosize();  
});
</script>
</head>
<div>
{{resultado}}

<h3><a href="../">Volver</a></h3>

</div>

</body>
</html>