<!DOCTYPE html>
<html>
<head>
	<title>Prueba</title>

	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<link rel="stylesheet" href="/static/css/style.css">
	<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js'></script>
	<script type='text/javascript' src='/static/js/jquery.autosize-min.js'></script>
	<script>
	$(document).ready(function(){
    	$('textarea').autosize();  
});
</script>
</head>
<body>

<div class="container-fluid">
<div class="row-fluid">
	<div class="span8">
	<h1>surl</h1>
	<h6>Search URL</h6>
	{{resultado}}

	<h3><a href="../">Volver</a></h3>
	</div>
</div>
</div>




</body>
</html>